SCRAPINGBEE_API_KEY=...

#
# Cloakbrowser cache dir
#
# export CLOAKBROWSER_CACHE_DIR="$PWD/.cloakbrowser"
# verify: CLOAKBROWSER_CACHE_DIR="$PWD/.cloakbrowser" node node_modules/cloakbrowser/dist/cli.js info
CLOAKBROWSER_CACHE_DIR=./.cloakbrowser